<?xml version='1.0' encoding='utf-8'?>
<widget id="io.traqr.react" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Manga Reader</name>
    <description>
        Manga Reader
    </description>
    <author email="francois.de.campredong@gmail.com" href="https://github.com/fdecampredon">
        François de Campredon
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="BackupWebStorage" value="local"/>
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
