doctype html
html
  head
    link(rel='stylesheet', href='/css/screen.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    script(src='/lib/all.min.js')
  body
    #main
    script(src='/bundle.js')

