@function em($px, $base: $base-font-size) {
	@return ($px / $base) * 1em;
}

@function pow($number, $exp) {
	$value: 1;
	@if $exp > 0 {
		@for $i from 1 through $exp {
			$value: $value * $number;
		}
	}
	@else if $exp < 0 {
		@for $i from 1 through -$exp {
			$value: $value / $number;
		}
	}
	@return $value;
}
@function font-scale($value) {
	@return pow($font-scale-ratio, $value) * $base-font-size;
}
