.horizontal-list {
	display: flex;
	flex-direction: row;
	margin-bottom: $base-spacing-unit;
	> li {
		margin-right: $base-spacing-unit;
		padding-right: $base-spacing-unit;
		border-right: $list-border;
		display: inline-block;
		&:last-child {
			margin-right: 0;
			padding-right: 0;
			border-right: none;
			display: inline-block;

		}
	}
}
.def-list {
	li {
		display: flex;
		// flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		list-style-type: none;
		margin-bottom: $base-spacing-unit;
	}
}
.def-list__icon {
	path {
		fill: $quiet-color;
	}
}
.select-list {
	margin-left: 0px;
	margin-bottom: 0;
	@include layer;
	&,
	> ul {
		margin: 0;
		> li {
			padding: 0 0 0 $base-spacing-unit;
			@include layer;
		}
	}

	li {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		max-width: 100%;
		// overflow: hidden;
		position: relative;
		// line-height: $base-line-height * 2 - 1 * $border-width;
		height: $base-line-height * 2; // FORCE IT
		padding: 0 $half-spacing-unit;
		border-bottom: $list-quiet-border;
		list-style-type: none;
		@include layer;
		&.selecet-list__li--vertical {
			flex-direction: column;
			height: auto;
		}
		&.selected {
			font-weight: $bold;
			color: $action-color;
		}
	}
	> ul,
	> li:last-child {
		border-bottom-color: transparent;
	}
}

.li--seperated.li--seperated { // Specificity hack!
	border-top: $list-border;
	text-align: center;
	margin-top: -1px;
	padding-top: $half-spacing-unit;
	padding-bottom: $half-spacing-unit;
	.select-list & {
		height: $base-line-height * 3;
	}
}

.select-list__link {
	flex: 1 1 auto;
	line-height: $base-line-height * 2 - 1 * $border-width;
	&:hover {
		border-bottom-color: transparent;
	}
}

.select-list--no-border {
	> li {
		line-height: $base-line-height * 2;
		border-bottom: none;
	}
}
.select-list--padded {
	padding: 0 $base-spacing-unit;
}

.select-list--indicate-more {
	position: relative;
	& li:last-child:after {
		content: '';
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		height: $base-spacing-unit * 2;
		background: linear-gradient(0deg, $background-color, $background-color 15%, transparent);
	}
}

.select-list--inverted {
	.link,
	.wrapped-link > .wrapped-link__link {
		color: $header-font-color;
		@include truncate(100%);
		&:hover {
			color: mix($header-font-color, $action-color, $tint);
		}
	}
	.link:after,
	.wrapped-link > .wrapped-link__link:after {
		background-color: $header-font-color;
	}
	> li {
		border-bottom: $list-inverted-border;
	}
}

.no-list {
	list-style: none;
	margin-left: 0;
	line-height: $base-line-height;
}
.block-list {
	list-style:none;
	margin-left:0;
	border-top-width:1px;

	> li {
		border-bottom: $quiet-border;
		padding: $half-spacing-unit 0;
		&:last-child {
			border-bottom: none;
		}
	}
}
.block-list__link {
	display:block;
	padding:$half-spacing-unit;
	margin:-$half-spacing-unit;
}

.select-list--full {
	@include media-query(s, min) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		> li {
			width: calc(50% - #{$base-spacing-unit});
			margin: 0 $half-spacing-unit;
			&:nth-last-child(2) {
				border-bottom: none;
			}
		}
	}
}
.list-item {
	opacity: 1;
	transform: none;
	transition: transform $transition-speed / 2 $transition-easing;
	@include layer;
}
.list-item--hidden {
	opacity: 0;
	transform: translateX($base-spacing-unit);
}



.select-list--arrow-nav {
	> li {
		padding: 0;
	}
	.link,
	.wrapped-link {
		padding: 0 $half-spacing-unit;
	}
	.list-item {
		width: 100%;
		height: inherit;
	}
	.item-hover {
		background-color: $quiet-border-color;
	}
}

.select-list .list-item .flex {
	height: inherit;
}
