.card-section {
	margin-bottom: $base-spacing-unit - 1 * $border-width;
	padding-bottom: $base-spacing-unit;
	border-bottom: $brand-border;
	display: flex;
	flex-direction: column;
	&:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none;
	}
}
.card-section--row {
	flex-direction: row;
	> .card-section__content {
		margin-right: $base-spacing-unit * 2;
		&:last-child {
			margin-right: 0;
		}
	}
}

.card-section__content {

}
.card-section__heading {
	text-align: center;
}
