
// @import '~../vars';

.datepicker-wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: $base-spacing-unit * (1 + 7*2*2) + 2px;
	@include media-query (xs) {
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		width: auto;
	}
}
.datepicker {
	display: inline-block;
	position: relative;
	opacity: 1;
	width: $base-spacing-unit * (7*2); // 7 days + padding + border width
	height: auto;
	padding-bottom: $base-spacing-unit;
	user-select: none;
}
.datepicker__title {
	position: relative;
	line-height: $base-spacing-unit;
	text-align: center;
	font-weight: $bold;
}
.datepicker__title-month,
.datepicker__title-selected-date {
	position: relative;
	display: inline-block;
	padding: $half-spacing-unit $half-spacing-unit / 2;

}
.datepicker__title-month {
	text-transform: uppercase;
	padding-bottom: $half-spacing-unit;
	&:before {
		bottom: 1px;
	}
}
.datepicker__title-selected-date {
	padding-top: $half-spacing-unit;
	&:before {
		top: -2px;
	}
}
.datepicker__head {
	display: flex;
	justify-content: space-between;
	margin: $half-spacing-unit / 2 0;
}
.datepicker__month-name {
	text-align: center;
	padding: $half-spacing-unit / 2 0;
	margin: 1 * $container-border-width 0 0; //Aligning with respect to button border
}

.datepicker__dates {
	display: flex;
	flex-flow: row wrap;
}

.datepicker__daylabel,
.datepicker__date-spacer,
.datepicker__date {
	line-height: $base-spacing-unit * 2;
	width: $base-spacing-unit * 2;
	height: $base-spacing-unit * 2;
	line-height: $base-spacing-unit * 2;
	text-align: center;
	margin: 0 0;
}
.datepicker__daylabel {
	color: $quiet-color;
	font-size: $centi-size;
}

.datepicker__date {
	cursor: pointer;
	margin-bottom: $half-spacing-unit / 2;
	font-weight: $fat;

	color: $quiet-action-font-color;
	transition: all $transition-speed / 2 $transition-easing;
	&:not(.datepicker__date--selected) {
		border-radius: $brand-round;
	}
	@include tap {
		background-color: $quiet-action-color;
	}
	.no-touch &:hover {
		background-color: $quiet-action-color;
	}
}
.datepicker__date--disabled,
.datepicker__date--spacer {
	cursor: default;
	color: $quiet-color;
	.no-touch &:active,
	.no-touch &:active:hover,
	&.touch-feedback,
	&.touch-feedback:hover,
	.no-touch &:hover {
		background-color: transparent;
	}
}
.datepicker__date--selected {
	background-color: $quiet-action-color;
	border-top: $quiet-action-border;
	border-bottom: $quiet-action-border;
	&.datepicker__date:nth-child(7n) {
		border-right: $quiet-action-border;
	}
	&.datepicker__date:nth-child(7n-6) {
		border-left: $quiet-action-border;
	}
}
.datepicker__date--active {
	background-color: $action-color;
	color: $action-font-color;
	@include tap {
		background-color: $action-color-light;
	}
	.no-touch &:hover {
		background-color: $action-color-light;
	}
}
.datepicker__date--other-month {
	opacity: 0.4;
}
.datepicker__date--selected-last,
.datepicker__date:nth-child(7n) {
	border-top-right-radius: $brand-round;
	border-bottom-right-radius: $brand-round;
}
.datepicker__date--selected-first,
.datepicker__date:nth-child(7n-6) {
	border-top-left-radius: $brand-round;
	border-bottom-left-radius: $brand-round;
}
.datepicker__date--selected-last,
.datepicker__date--selected-first {
	border: $action-border;
}
.datepicker__next,
.datepicker__previous {
	padding: 0 round($half-spacing-unit / 1.5);
	min-width: 0;
}
.datepicker__next--disabled,
.datepicker__previous--disabled {
	cursor: default;
	// border-color: $quiet-color + 70;
	.no-touch &:hover {
		border-color: $quiet-color + 70;
	}
	.no-touch &.datepicker__date--other-month:hover {
		background-color: $element-color;
		border-color: $quiet-color + 70;
	}
}
