.fetch {
	// background-color: red !important;
	transition: color .05s linear;
}
.fetch--fetching,
.fetch--fetching * {
	color: transparent !important;
}
.sync {
	// background-color: red !important;
	transition: opacity .1s linear;
}
.sync--syncing {
	animation: syncPulse ease-in-out 1.6s;
	animation-iteration-count: infinite;
	animation-fill-mode: alternate; /*when the spec is finished*/
	opacity: .5;
}
.sync--failed:not(.sync--syncing) {
	background-color: $fail-background-color;
}

@keyframes syncPulse {
	0% {
		opacity: .65;
	}
	50% {
		opacity: .3;
	}
	100% {
		opacity: .65;
	}
}
