.form-section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	margin-bottom: $base-spacing-unit * 2;
	width: 100%;
	&:last-child {
		margin-bottom: 0;
	}
	.modal__content & {
		flex-direction: column;
		align-items: flex-start;
	}
	@include media-query(xs) {
		flex-direction: column;
		align-items: flex-start;
	}
}
.form-section--flex-start { // HACK
	align-items: flex-start;
}
.form-section--vertical {
	flex-direction: column;
	align-items: flex-start;
	.form-section__title {
		width: 100%;
		text-align: left;
		width: 100%;
	}
	.form-section__control {
		align-content: flex-start;
	}
}

.form-section__title {
	width: 20%;
	align-self: flex-start;
	flex-shrink: 0;
	text-align: right;
	margin-right: $base-spacing-unit;
	padding-top: $half-spacing-unit;
	.modal__content & {
		width: 100%;
		text-align: left;
		width: 100%;
	}
	@include media-query(xs) {
		width: 100%;
		text-align: left;
		width: 100%;
	}
}
.form-section__control {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	flex-grow: 1;
	width: 100%;
	.modal__content & {
		align-content: flex-start;
	}
	@include media-query(xs) {
		align-content: flex-start;
	}
}
.form-section__textarea {
	width: 100%;
}
.form-section__select-btn {
	margin-bottom: $half-spacing-unit;
	&:not(:last-child) {
		margin-right: $half-spacing-unit;
	}
}
