.dropzone {
	margin: $base-spacing-unit;
	width: 500px;
	height: 500px;
	border-radius: $brand-round;
	// border: $brand-border;
	background-color: $background-color;
}
.draggable--active {
	box-shadow: 1px 1px 6px rgba(#000, 0.25);
}
.dropzone--has-dropped {
	background-color: $logo-color;
}
.dropzone--active {
	box-shadow: inset 0 0 0 1px $action-border-color;
}
.dropzone--dragover {
	background-color: $element-color;
}

.interact-restriction {
	margin: $base-spacing-unit;
	width: 500px;
	height: 500px;
	border-radius: $brand-round;
	border: $brand-border;
	background-color: $background-color;
}

.draggable-handle-box {
	position: relative;
	// display: flex;
	border: $brand-border;
	background-color: $background-color;
	padding: $base-spacing-unit;
	float: left;
	border-radius: $brand-round;
}
.draggable-handle-box__handle {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(#000, 0.1);
	width: $base-spacing-unit;
	height: $base-spacing-unit;
	border-radius: $brand-round;
}

.resizable {
	position: relative;
	padding: $base-spacing-unit;
	border-radius: $brand-round;
	background-color: $background-color;
	border: $brand-border;
	float: left;
	&,& * {user-select: none;}
}
.resizable__handle {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgba(#000, 0.1);
}
.resizable__handle--y {
	left: 0;
	height: $base-spacing-unit;
	cursor: s-resize;
}
.resizable__handle--x {
	top: 0;
	width: $base-spacing-unit;
	cursor: e-resize;
}
.resizable__handle--xy {
	width: $base-spacing-unit;
	height: $base-spacing-unit;
	cursor: se-resize;
}
