/*
	Logo
*/

.logo {
	transition: transform 0.5s cubic-bezier(.8,-0.9,.2,1.9),
		color $transition-speed $transition-easing;
	transform: rotate(0deg);
}
.logo--front {
	margin-bottom: $base-spacing-unit * 2;
	&:hover {
		transform: rotate(-90deg);
	}
}
