
.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: $base-spacing-unit * 3;
	padding: $base-spacing-unit;
	padding-bottom: $base-spacing-unit * 5;
	// min-height: 100vh;
	color: $login-font-color;
	background-color: $login-background-color;
	@include layer;
	@include media-query(xs) {
		padding-top: $base-spacing-unit;
		padding-bottom: $base-spacing-unit * 2;
		.logo--front {
			margin-bottom: $base-spacing-unit;
			width: $icon-size * 3;
			height: $icon-size * 3;
		}
	}
}

.login-form {
	width: 100%;
	max-width: $max-width / 2;
	text-align: left;
	border-radius: $brand-round;
	margin: $base-spacing-unit * 2 0;
	.input { //Not fully bem. Might re-write
		width: 100%;
		margin-bottom: 0;
	}
	@include media-query($max-width/2) {
		border-radius: 0;
	}
}
.login__feedback {
	// background-color: $quiet-action-color;
	color: $login-font-color;
	padding: $half-spacing-unit 0;
	border-radius: $brand-round;
	margin-bottom: $base-spacing-unit;
	// text-align: center;
}

.login--logout {
	&,
	.login-form {
		background-color: transparent;
	}
	position: relative;
	padding-top: $base-spacing-unit;
	padding-bottom: $base-spacing-unit;
	min-height: 0;
}
