.nav {
	color: $header-font-color;
}

.nav__link {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	transition: all $transition-speed $transition-easing;
	padding: $base-spacing-unit;
	background-color: mix($header-bar-color, $header-font-color, $tint);
	cursor: pointer;
	> .icon {
		padding: 0;
	}
	&.link--active,
	&.touch-feedback,
	.no-touch &:hover {
		font-weight: inherit;
	}
	&.link--active,
	&.touch-feedback,
	.no-touch &:hover {
		background-color: $header-highlight-color;
	}
	&.nav__link--insights.link--active,
	&.nav__link--insights.touch-feedback,
	.no-touch &.nav__link--insights:hover {
		background-color: $insights-color;
	}
	&.nav__link--schedule.link--active,
	&.nav__link--schedule.touch-feedback,
	.no-touch &.nav__link--schedule:hover {
		background-color: $schedule-color;
	}
	&.nav__link--people.link--active,
	&.nav__link--people.touch-feedback,
	.no-touch &.nav__link--people:hover {
		background-color: $people-color;
	}
	&.nav__link--settings.link--active,
	&.nav__link--settings.touch-feedback,
	.no-touch &.nav__link--settings:hover {
		background-color: $settings-color;
	}
	&.nav__link--organisation.link--active,
	&.nav__link--organisation.touch-feedback,
	.no-touch &.nav__link--organisation:hover {
		background-color: $organisation-color;
	}
}
.nav__link-text--left-padded {
	padding-left: $half-spacing-unit;
}
.nav__link-content {
	display: flex;
	align-items: center;
	justify-content: center;
	@include media-query (xs) {
		flex-direction: column;
	}
}
