$submenu-border: $heavy-border;
$submenu-border-color: $heavy-border-color;
$submenu-background-color: $background-color;
$arrow-height: $half-spacing-unit;

.submenu {
	display: block;
	user-select: none;
	@include media-query (xs) {
		z-index: auto;
	}
	// &.open > .menu__link {
	// 	background-color: mix($header-bar-color, #000, $light-tint);
	// }
}

.submenu__content {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: $sidebar-width;
	max-width: 100%;
	text-align: left;
	background-color: $submenu-background-color;
	color: $font-color;
	z-index: -1;
	@include layer;
	@include touch-scroll;
	.link, .wrapped-link__link {
		@include layer; //Because links have a tendency to flicker otherwise in chrome
	}
	@include media-query(s) {
		z-index: $quarter-layer;
	}
	@include media-query(xs) {
		width: 100%;
	}
}
.submenu--inverted {
	.submenu__content {
		background-color: darken($header-bar-color, 5%);
		color: $header-font-color;
	}
}
.submenu--sidebar {
	.submenu__content {
		border-left: $inverted-border;
		left: $sidebar-width-s;
		right: auto;
		@include media-query(s) {
			left: 0;
		}
	}
}

.submenu__back {
	cursor: pointer;
	position: fixed;
	// background-color: $background-color;
	border-radius: $base-spacing-unit * 2;
	z-index: $menu-layer;
	top: $half-spacing-unit;
	left: $sidebar-width-s + $half-spacing-unit;
	@include animation(a-fadeInLeft);
	.closing & {
		@include animation(a-fadeOutLeft);
	}
	@include media-query(s) {
		left: $half-spacing-unit;
	}
}
.submenu__back.submenu__back {
	g, svg, path, rect, polygon {
		// fill: $font-color;
	}
}
