.tab-view {
	margin-bottom: $base-spacing-unit * 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tab-view__tab {
	border: 1px transparent solid;
	// border-radius: $brand-round;
	cursor: pointer;
	line-height: $base-line-height * 2;
	padding: 0 $base-spacing-unit;
}
.tab-view__tab--selected {
	// background-color: $action-color;
	color: $action-color;
	border-bottom: $action-border;
}
.tab-view__content {
	@extend .clearfix;
}
.tab-view__heading {
	padding-top: $base-spacing-unit;
	text-align: center;
}
