.timestamp-label__secondary {
	color: $quiet-color;
	padding-left: $half-spacing-unit;
}

.timestamp-label__highlight {
	color: $red-base;
	padding-left: $half-spacing-unit;
}

.timestamp-label--waiting {
	visibility: hidden;
	pointer-events: none;
}
