/*
	simple tooltip using data-tooltip
*/
$tooltip-border-width: 6px;

[data-tooltip] {
	position:relative;
	&:after,
	&:before {
		position: absolute;
		bottom: 100%;
		display: none;
		pointer-events: none;
		// transition: $transition-speed $transition-easing all;
		// opacity:0;
		// visibility: hidden;
	}
	&:after {
		content: attr(data-tooltip);
		margin-bottom: $tooltip-border-width + 1;
		color: $popup-font-color;
		background: $popup-background-color;
		border-radius: $brand-round;
		padding: $half-spacing-unit / 4 $half-spacing-unit;
		// margin-left: -$base-spacing-unit * 2;
		transform: translateX(-50%);
		min-width: $base-spacing-unit * 3;
		white-space: nowrap;
		left: 50%;
		text-align: center;
		@include font-size-centi;
		font-weight: $bold;
	}
	&:before {
		content: "";
		width: 0;
		height: 0;
		margin-left: calc(50% - #{$tooltip-border-width});
		margin-bottom: -$tooltip-border-width + 1;
		left: 0;
		border-width: $tooltip-border-width;
		border-style: solid;
		border-color: $popup-background-color transparent transparent transparent;
	}
	&:hover:before,
	&.tooltip--show:before,
	&:hover:after,
	&.tooltip--show:after {
		display: block;
		opacity: 1;
		visibility: visible;
	}

	&.tooltip--left:after,
	&.tooltip--right:after {
		transform: none;
		top: calc(50% - #{$half-spacing-unit * 1.25});
		margin-top: 1px;
		bottom: auto;
	}
	&.tooltip--right:after {
		right: calc(100% + #{$tooltip-border-width});
		left: auto;
	}
	&.tooltip--left:after {
		left: calc(100% + #{$tooltip-border-width});
		right: auto;
	}
	&.tooltip--left:before,
	&.tooltip--right:before {
		margin-right: 0;
		margin-left: 0;
		top: calc(50% - #{$half-spacing-unit * 1.25 / 2 - 1});  //HACK magic number
	}
	&.tooltip--right:before {
		left: -$tooltip-border-width;
		right: auto;
		border-color: transparent transparent transparent $popup-background-color;
	}
	&.tooltip--left:before {
		left: auto;
		right: -$tooltip-border-width;
		border-color: transparent $popup-background-color transparent transparent;
	}
	&.tooltip--inverted:before {
		border-color: $popup-font-color transparent transparent transparent;
	}
	&.tooltip--inverted:after {
		color: $popup-background-color;
		background-color: $popup-font-color;
	}
}
.tooltip--big:after {
	font-size: $base-font-size;
}
