.user-profile {
	.no-touch &:hover {
		background-color: $warning-color;
	}
}
.user-profile__image {
	border-radius: 50%;
	height: $base-spacing-unit * 2;
	width: $base-spacing-unit * 2;
	flex-shrink: 0;
	background-size: cover;
	background-color: rgba($element-color, 0.4);
}
