
// @import '~qcommon/styles/vars';

.filters {
}
.filter {
	&:not(:last-child) {
		border-bottom: $brand-border;
	}
}
.filter__add {
	padding: 0 $half-spacing-unit $base-spacing-unit;
	margin-bottom: $base-spacing-unit;
	border-radius: $brand-round;
	background-color: $body-background-color;
}
.select-list--indicate-more.filter__add-list {
	//A bit hackish, but can't think of a better way atm
	& li:last-child:after {
		background: linear-gradient(0deg, $body-background-color, $body-background-color 15%, transparent);
	}
}
.filter__selected-list {
	margin-bottom: $base-spacing-unit;
}
.filter__add-title {
	margin: 0;
	padding-bottom: 0;
	text-align: center;
}
.filter__body {
	// padding: 0 0 $half-spacing-unit;
}
.filter__title {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	> h5 {
		display: inline;
	}
}
